.Keyboard {
  --key-width: /* set by JS in Keyboard component */ ;
  
  width: 100vw;
  height: 200px;
  max-width: 600px;
}

.MajorKey {
  height: 100%;
  width: var(--key-width);
  fill: #eee;
  stroke: rgb(104, 104, 104);
}

.MinorKey {
  fill: rgb(14, 14, 14);
  stroke: none;
  height: 65%;
  width: calc(var(--key-width) / 2);
  z-index: 1;
}
